body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0;
    font-size: 22px;
    padding: 0;
    font-weight:normal;
}



h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


#image1 {
    position: relative;
    width: 100%;
    height: 85vh;
    pointer-events: none;
}

#image1tlm{
    display: none;
}

#image2 {

    max-width: 50vw; /* Limit max width to viewport width */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    margin-top: 44%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image horizontally and vertically */
    z-index: 2;
    pointer-events: none; /* Prevent the image from interfering with other elements */
}


#videoP2{
    margin-top: 2%;
}

.starslogoscontainer{
    all:unset;
}

#parentContainer {
    position: absolute;
    margin-top: 30%;
    width: 100%;
    height: 100%;
}

#gradienteP2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1; /* Lower z-index */
    margin-top:-5%;

}

#tlmP2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top:-10%;
    margin-left:-5%;
    width: 60%;
    height: auto;
    pointer-events: none;
    z-index: 2; /* Higher z-index to be on top */
}

#starsContainer {
    display: flex;
    align-items: center; /* Align items vertically centered */
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 35%;
    pointer-events: none;
    z-index: 2; /* Higher z-index to be on top */
    margin-top: -5%;
}


#stars {
    height: auto;
}

#logos{
    width: 100%;
    height: auto;
    position: absolute; /* Ensure it can move freely within the parent */
    z-index: 1;
    margin-top: -9%;
}


#logo1,#logo2,#logo3,#logo4{
    display:none;
}

.starsText {
    margin-left: 10px; /* Adjust spacing between stars and text */
    color: #08192B;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

nav {
    position: absolute;
    top: 35px;
    left: 0; /* Ensure nav starts from the very left of the viewport */
    width: 100%; /* Make the nav bar fill the entire width */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space elements evenly */
    white-space: nowrap;
    padding: 0 50px; /* Optional: Adjust padding as needed */
    box-sizing: border-box; /* Include padding in the width calculation */
}

/* Style the menu content */
.menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Automatically space out the content */
    width: 100%;
}

/* Style the unordered list */
.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px; /* Gap between nav items */
}

/* Style the links */
.nav-items li a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Change color on hover */
.nav-items li a:hover {
    color: #108CEC;
}

/* Style for the right-side navigation */
.right-side-nav {
    display: flex;
    align-items: center;
    gap: 50px; /* Adjust gap between elements in the right-side nav */
    position: relative; /* Set position to relative to contain the dropdown within this area */
}

/* Style the Contact Us button */
.contact-button {
    padding: 5px 35px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 25px;
}

.contact-button:hover {
    background-color: #0056b3;
}

/* Button styling */
.current-language {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border: none;
    cursor: pointer;
    position: relative; /* Ensure the button is a reference point for the dropdown */
}
/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position dropdown below the button */
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    list-style-type: none;
    width: max-content; /* Adjust to fit content */
    padding: 0;
    margin-top: 8px; /* Slight gap between button and dropdown */
}

.dropdown-content li {
    margin: 0;
    padding: 0;
}

.dropdown-content li a {
    padding: 12px 30px;
    display: block;
    color: black;
    text-decoration: none;
    border-radius: 6px;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown when active */
.dropdown-content.active {
    display: block;
}



.slogan-container {
    position: absolute;
    top: 32%; /* Adjust this value to position vertically */
    left: 50%; /* Center the container horizontally */
    transform: translate(-50%, -50%);
    height: auto; /* Keep the aspect ratio */
    width: auto;
    z-index: 2; /* Ensure it's on top */
}

#slogan {
    width: 100%;
    height: auto;
    opacity: 0.05;
}

.slogan-buttons {
    display: flex; /* Display as a flex container */
    justify-content: center; /* Center the buttons horizontally */
    gap: 7%; /* Space between the buttons */
    margin-top: 10%; /* Increase this value to move the buttons further down */
    margin-bottom: -7%;
}

.start-button button{
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
}

.watch-button button{
    background-color: transparent; /* Maintain the existing transparent background */
}


.start-button button, .watch-button button {
    font-family: 'Inter', sans-serif; /* Ensure the font-family is correctly set */
    padding: 0.8vw 1.5vw; /* Padding inside the button */
    border: none; /* Remove default border */
    border-radius: 25px; /* Rounded corners */
    font-size: 1.3vw; /* Font size */
    font-weight: 600; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
    white-space: nowrap;
}

.start-button button:hover {
    background-color: #333; /* Slightly lighter black on hover */
}

.start-button button:active {
    background-color: #111; /* Darker black on click */
}

.hamburger {
    display: block;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.hamburger-line1,
.hamburger-line2,
.hamburger-line3 {
    display: none;
    width: 10vw;
    height: 0.5vh;
    margin: 1vh auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}

.hamburger-line1 {
    background-color: #108CEC;
}

/* The expanded state for the hamburger lines */
.hamburger.open .hamburger-line1,
.hamburger.open .hamburger-line2,
.hamburger.open .hamburger-line3 {
    width: 100%;
}

.secondPText{
    color: rgba(0, 0, 24, 0.50);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2vw; 

    position: absolute;
    margin-top: 38%;
    margin-left: 48%;
    width: 45%;
    height: auto;
    z-index: 2; /* Higher z-index to be on top */
}

.highlight {
    color: #108CEC;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

/* Container for title and background */
.title-container {
    display: flex;
    align-items: flex-start; /* Align items to the start of the container */
    position: relative;
    margin-top: 80%; /* Adjust as needed */
    flex-direction: column;
    text-align: left;
    margin-left: 5%;
}

.title-background-container {
    position: relative;
}

#titleP3 {
    font-size: 2.5vw; /* Reduce font size */
    line-height: 1.1; /* Adjust line height */
    margin-top: 5%; /* Increase top margin to create space */
    text-align: center; /* Center text on small screens */
    position: relative; /* Ensure it is positioned relative to the container */
    z-index: 1; /* Ensure it is above the background */
    white-space: nowrap; /* Prevent text from wrapping */

}

#titleP3Background {
    pointer-events: none;
    position: absolute; /* Position it absolutely within the container */
    top: 0; /* Align to the top of the container */
    left: 0; /* Align to the left of the container */
    margin-top: 3.5%; /* Adjust margin-top for better spacing */
    margin-left: 14%; /* Reduce left margin to fit smaller screens */
    width: 90%; /* Increase width to cover more of the screen */
    height: auto;
    z-index: 0; /* Ensure it is below the title */
}

#subtitle {
    margin-top: -5%; /* Reduce top margin to bring subtitle closer to the title */
    margin-bottom: 0%;
    line-height: 1.1; /* Adjust line height for better spacing */
    text-align: center; /* Center text on small screens */
    color: #108CEC;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap; /* Prevent text from wrapping */

}

.highlightP3 {
    color: #FFF;
}














.carousel-container-mobile {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 3;
}

.carousel-mobile {
    display: flex;
    flex-direction: row;
    width: 90%; /* Ensure it takes the full width of its container */
    justify-content: flex-start; /* Start the items from the beginning */
    z-index: 3;
    margin: 0 auto; /* Center the element horizontally */
    overflow: hidden; /* Hide overflow to create a carousel effect */
    transform: translateY(0); /* Ensure it stays at the same vertical position */
}

.item-group-mobile {
    width: 100%; /* Ensure it takes the full width of its container */
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping, so all items are in a row */
    transition: transform 0.3s ease-in-out; /* Smooth transition when shifting items */
    z-index: 3;
    gap: 5%;
}

.item-container-mobile {
    flex: 0 0 20%;
    box-sizing: border-box;
    padding: 0.7%; /* Optional: space inside each item */
    border: 0.1vw solid rgba(52, 52, 52, 0.25);
    border-radius: 1vw;
    transition: transform 0.3s ease-in-out; /* Smooth transition for individual items */
}

.item-container-mobile:first-child {
    margin-left: 2.5%; /* Apply margin-left to the first item */
}

.item {
    width: calc(100% / 4); /* Adjust based on the itemsPerView */
}












.item-group-mobile img {
    width: 100%;
}

.description-mobile {
    text-align: center; /* Center text within each item */
}

.carousel-line{
    width: 98%;
    height: 0.2vh;
    margin: 1vh auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(173, 173, 173);
    margin-top:-2%;
    margin-bottom:3%;
}

.button-carousel-mobile {
    all: unset; /* Reset all inherited properties */
    background-color: #108CEC;
    color: #FFF; /* White text */
    border: none; /* Remove default border */
    padding: 1vh 1vw; /* Add some padding */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-family: 'Poppins', sans-serif; /* Font family */
    font-size: 1vw; /* Font size */
    text-decoration: none; /* Remove underline */
    white-space: nowrap;
    display: flex; /* Display as a flex container */
    justify-content: center; /* Center the buttons horizontally */
}

.button-carousel-mobile:hover {
    background-color: #0056b3;
}

/* New container for arrows and dots */
.arrows-and-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Adjust existing styles */
#prev-mobile, #next-mobile {
    position: absolute;
    margin-top:unset;
    color: unset;
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    background: none; /* Remove background */
    margin-top:-74vw;
    z-index: 3;

}

#prev-mobile {
    margin-left: 85vw; /* Position to the left, slightly outside the carousel */
    
}

#next-mobile {
    margin-left: 88vw; /* Position to the right, slightly outside the carousel */
    transform: unset;
}

#prev-mobile img, #next-mobile img {
    width:2.5vw;
    height: auto;
    color: unset;
    border: none; /* Remove default border */
    
}


#prev-mobile:hover img, #next-mobile:hover img {
    filter: brightness(0) saturate(100%) invert(29%) sepia(92%) saturate(748%) hue-rotate(186deg) brightness(150%) contrast(101%);
    filter: unset;
}

.description-mobile{

    margin-top:-3vh;
}




.description-title-mobile  {
    font-weight: bold;
    font-size: 1.5vw;
}

.opp-place-title-mobile{
    font-weight: bold;
    font-size: 1vw;
}

.description-subtitle-mobile  {
    font-size: 0.9vw;
    color: grey;
    margin-top: -2.3vh;

}

.opp-place-subtitle-mobile{
    font-size: 0.8vw;
    color: grey;
}
    
.opp-place-mobile {
    position: relative;
    margin-top: 0vh;
}

.opp-place-container {
    display: flex;
    align-items: center;
    margin-left: 0vw;
    margin-top:0vw;
    margin-bottom: 0.5vw;
}

.opp-place-container img {
    width: 3.3vw;
    height: auto;

}

.opp-place-texts {
    display: flex;
    flex-direction: column;
    margin-left: 0.8vw;
    margin-top:0.8vh;
}

.opp-place-title-mobile {
    margin-top: 1vh;
    margin-bottom: 0vh;
}
    
.opp-place-subtitle-mobile {
    margin-top: 0vh;
}

.description-mobile, .opp-place-mobile {
    white-space: nowrap; /* Prevent text from wrapping */
}


.indicators-mobile {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Allow the dots to take up remaining space */
    margin-top: 2vw;
    margin-left:-0.5vw;
    margin-right: 0;
    
}

.dot-pc {
    height: 0.7vw;
    width: 0.7vw;
    margin: 0 0.3vw;
    background-color: #FFF;
    border: 0.1vw solid rgba(52, 52, 52, 0.5); /* Added 1 pixel border */
    border-radius: 50%;
    display: inline-block;
}

.dot-pc.active {
    background-color: #007bff;
    border-color:#007bff;
}






















.footer {
    width: 100%;
    background-color: #F6F7F9;
    position: relative;
    z-index: 2;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Align items to the bottom of the footer */
    padding: 0 2.5vw; /* Add padding to align with the social media container */
}

.copyright-text {
    color: #515978;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;

}


.social-media-container {
    display: flex;
    align-items: center;
    gap: 10%;
    margin-top: 0vh;
    margin-left: 26vw;
}

/* Social media links */
.social-media-container a {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    color: inherit;
}

.social-media-icon {
    width: 2vw;
    height: auto;
    background-color: black;
}

.social-media-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.profile-name {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: rgba(2, 2, 4, 0.50);
    text-align: center;
    line-height: 120%;
}

/* 1366x768 */
@media (max-width: 1366px) and (min-width: 769px) {
    nav{
        font-size: 80%;
    }

    .right-side-nav {
        display: flex;
        align-items: center;
        gap: 35px; /* Adjust gap between elements in the right-side nav */
        position: relative; /* Set position to relative to contain the dropdown within this area */
    }

    /* Style the Contact Us button */
    .contact-button {
        padding: 0.3vw 2vw;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        font-weight: 400;
        font-size: 20px;
    }
    
    .start-button button, .watch-button button {
        font-family: 'Inter', sans-serif; /* Ensure the font-family is correctly set */
        padding: 0.8vw 1.5vw; /* Padding inside the button */
        border: none; /* Remove default border */
        border-radius: 25px; /* Rounded corners */
        font-size: 1.5vw; /* Font size */
        font-weight: 600; /* Bold text */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
        white-space: nowrap;
    }

    #image2 {

        max-width: 60vw; /* Limit max width to viewport width */
        height: auto; /* Maintain aspect ratio */
        position: absolute;
        margin-top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the image horizontally and vertically */
        z-index: 2;
        pointer-events: none; /* Prevent the image from interfering with other elements */
    }

    
    

    

    .social-media-container {
        display: flex;
        align-items: center;
        gap: 10%;
        margin-top: 0vh;
        margin-left: 20vw;
    }

    .social-media-icon {
        width: 3vw;
        height: auto;
        background-color: black;
    }

    

    
}

/* 1440x900 */
@media (max-width: 1440px) and (min-width: 901px) {
    nav{
        font-size: 80%;
    }

    .right-side-nav {
        display: flex;
        align-items: center;
        gap: 35px; /* Adjust gap between elements in the right-side nav */
        position: relative; /* Set position to relative to contain the dropdown within this area */
    }

    /* Style the Contact Us button */
    .contact-button {
        padding: 0.3vw 2vw;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        font-weight: 400;
        font-size: 20px;
    }
    
    .start-button button, .watch-button button {
        font-family: 'Inter', sans-serif; /* Ensure the font-family is correctly set */
        padding: 0.8vw 1.5vw; /* Padding inside the button */
        border: none; /* Remove default border */
        border-radius: 25px; /* Rounded corners */
        font-size: 1.5vw; /* Font size */
        font-weight: 600; /* Bold text */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
        white-space: nowrap;
    }

    #image2 {

        max-width: 60vw; /* Limit max width to viewport width */
        height: auto; /* Maintain aspect ratio */
        position: absolute;
        margin-top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the image horizontally and vertically */
        z-index: 2;
        pointer-events: none; /* Prevent the image from interfering with other elements */
    }

    
    

    .social-media-container {
        display: flex;
        align-items: center;
        gap: 10%;
        margin-top: 0vh;
        margin-left: 20vw;
    }

    .social-media-icon {
        width: 3vw;
        height: auto;
        background-color: black;
    }

    #gradienteP2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vw;
        pointer-events: none;
        z-index: 1; /* Lower z-index */
        margin-top:-10%;
    
    }

    .secondPText{
        color: rgba(0, 0, 24, 0.50);
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1.4vw;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4vw; 
    
        position: absolute;
        margin-top: 38%;
        margin-left: 47%;
        width: 46%;
        height: auto;
        z-index: 2; /* Higher z-index to be on top */
    }
}

/* 1280x720 */
@media (max-width: 1280px) and (min-width: 721px) {
    
    }

/* 1280x1024 */
@media (max-width: 1280px) and (min-width: 1025px) {
    nav{
        font-size: 80%;
    }

    .right-side-nav {
        display: flex;
        align-items: center;
        gap: 35px; /* Adjust gap between elements in the right-side nav */
        position: relative; /* Set position to relative to contain the dropdown within this area */
    }

    /* Style the Contact Us button */
    .contact-button {
        padding: 0.3vw 2vw;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        font-weight: 400;
        font-size: 20px;
    }
    
    .start-button button, .watch-button button {
        font-family: 'Inter', sans-serif; /* Ensure the font-family is correctly set */
        padding: 0.8vw 1.5vw; /* Padding inside the button */
        border: none; /* Remove default border */
        border-radius: 25px; /* Rounded corners */
        font-size: 1.5vw; /* Font size */
        font-weight: 600; /* Bold text */
        cursor: pointer; /* Pointer cursor on hover */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
        white-space: nowrap;
    }

    #image2 {

        max-width: 80vw; /* Limit max width to viewport width */
        height: auto; /* Maintain aspect ratio */
        position: absolute;
        margin-top: 67%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the image horizontally and vertically */
        z-index: 2;
        pointer-events: none; /* Prevent the image from interfering with other elements */
    }

    .slogan-container {
        position: absolute;
        top: 26%; /* Adjust this value to position vertically */
        left: 50%; /* Center the container horizontally */
        transform: translate(-50%, -50%);
        height: auto; /* Keep the aspect ratio */
        width: auto;
        z-index: 2; /* Ensure it's on top */
    }

    
    

    .social-media-container {
        display: flex;
        align-items: center;
        gap: 10%;
        margin-top: 0vh;
        margin-left: 20vw;
    }

    .social-media-icon {
        width: 3vw;
        height: auto;
        background-color: black;
    }

    #gradienteP2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        pointer-events: none;
        z-index: 1; /* Lower z-index */
        margin-top:-10%;
    
    }
}

/* For tablets */
@media (min-width: 601px) and (max-width: 1024px) {

  }


  /* For mobile phones */
@media (max-width: 600px) {
    .hamburger-line1,
    .hamburger-line2,
    .hamburger-line3 {
        display: block;
    }








    body{
        margin: 0;
        padding: 0;
        background-color:#ffffff;
        padding-bottom: 30px; /* Adjust the value as needed */

    }

    #image1{
        display: none;
    }

    #image1tlm {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: auto; /* Full height of the container */
        min-height: 70vh; /* Minimum height */
        max-height: calc(100vh - 13%); /* Maximum height calculated dynamically */
        width: 100%; /* Full width of the container */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }


    #image2 {
        max-width: unset;
        position: relative;
        top: 0%; /* Center vertically */
        margin-bottom: -50%;
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%);
        width: 100%; /* Set the width to 80% of its container */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #videoP2{
        display: none;
    }


    
    #subtitle {
        line-height: 1.1; /* Adjust line height for better spacing */
        text-align: center; /* Center text on small screens */
        font-size: 4vw; /* Reduce font size */
        margin-bottom: 3%;

        color: #108CEC;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
    }

    #titleP3 {
        font-size: 6vw; /* Reduce font size */
        line-height: 1.1; /* Adjust line height */
        margin-top: 10%; /* Increase top margin to create space */
        text-align: center; /* Center text on small screens */
        margin-bottom: 0%;
        margin-top: 0%; /* Increase top margin to create space */

        color: #08192B;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
    }

    #titleP3Background {
        margin-top: -1%; /* Adjust margin-top for better spacing */
        margin-left: 14%; /* Reduce left margin to fit smaller screens */
        width: 90%; /* Increase width to cover more of the screen */
        height: auto;
    }

    .title-container {
        padding: 10px; /* Add padding to container for better spacing */
        margin-top:0;
    }

    .highlightP3 {
        color: #FFF;
    }

    .starsText {
        margin-left: 10px; /* Adjust spacing between stars and text */
        color: #08192B;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 3.5vw;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
    }

    #starsContainer {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0%;
        pointer-events: none;
        z-index: 2; /* Higher z-index to be on top */
        margin-top: 5%;

        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    
    #stars {
        width: 25%;
        height: auto;
    }

    #parentContainer {
        position: unset;
        margin-top: -25%;
        margin-left: 0%;
        width: unset;
        height: unset;

        margin-bottom: 7%;
        
    }

    #logoWrapper {
        display: flex; /* Add this line */
        flex-direction: row; /* Add this line */
        align-items: center; /* Add this line */
        justify-content: center; /* Add this line */

        gap:3%;
    }
    
    #logo1, #logo2, #logo3, #logo4 {
        display:unset;
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0%;
        pointer-events: none;
        z-index: 2; /* Higher z-index to be on top */
        margin-bottom:-9%;
        width:20%;

    }

    
    #gradienteP2 {
        display: none;
    }
    
    #tlmP2 {
        display: none;

    }

    #logos{
        display:none;
    }
    
    #ArrowLanguageButton{
        width:9%;
        position:absolute;
        margin-top:10.5%;
    }

    #ArrowStartButton{
        width:10%;
        margin-left:-5%;
        margin-bottom: -1%;
    }

    #ArrowWatchButton{
        width:20%;
    }

    .secondPText{
        display: none;

    }
    
    #slogan {
        opacity: 1;
        /*box-shadow: 0 4px 8px 0 rgba(16, 140, 236, 0.2), 0 6px 20px 0 rgba(16, 140, 236, 0.19);*/
        z-index: 321312312312312;
    }

    .slogan-container {
        position: relative;
        margin-top: 60%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%);
        width: 80%; /* Set the width to 80% of its container */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .slogan-buttons {
        display: flex;
        justify-content: center; /* Center the buttons horizontally */
        align-items: center; /* Center the buttons vertically */
        gap: 10vw; /* Adjust gap between buttons as needed */
        margin-top: 25%; /* Adjust margin as needed */
        margin-bottom: 0;
    }
    
    .slogan-buttons button {
        padding: 1vh 5vw; /* Adjust padding to make buttons smaller */
        font-size: 4vw; /* Adjust font size to make text smaller */
        width: auto; /* Adjust width as needed */
        height: auto; /* Adjust height as needed */
        border-radius: 20px; /* Optional: Adjust border radius */
    }

    .start-button button{
        padding: 1vh 5vw;
    }

    nav {
        background-color: #ffffff;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1000;
        
    }

    .hamburger {
        display: block;
        margin: 0;
        padding: 0;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100%; /* Full height of the container */
        width: 100%; /* Full width of the container */
    }

    .menu-content {
        display: none;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .nav-items {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: flex-start;
        margin-top: 20px;
        padding: 0;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100%; /* Full height of the container */
    }

    .right-side-nav {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100%; /* Full height of the container */

    }

    .contact-button {
        text-align: center;

    }

    .menu-content.active {
        display: flex;
        
    }

    .current-language{
        margin-left:5%;
    }

    .dropdown-content {
        display: none;
        position: relative;
        top: 100%; /* Position dropdown below the button */
        left: 0;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        z-index: 1;
        list-style-type: none;
        width: max-content; /* Adjust to fit content */
        padding: 0;
        margin-top: 8px; /* Slight gap between button and dropdown */
    }

    
    






    .carousel-container-mobile {
        width: 70%;

        z-index: 3;
        margin: 0 auto;
        margin-top: 2vh;
        margin-bottom: 0vh;
        overflow: hidden
    }
    
    .carousel-mobile {
        display:unset;
        flex-direction: unset;
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        z-index: 3;
        transform: translateY(0); /* Ensure it stays at the same vertical position */

    }
    
    .item-group-mobile {
        display: flex;
        transition: transform 0.3s ease-in-out;
        z-index: 3;
        width: unset;
        flex-wrap: unset;
        gap:0%;
    }
    
    .item-container-mobile {
        flex: 0 0 100%;
        box-sizing: border-box;
        padding: 3vw;
        border: 0.5vw solid rgba(52, 52, 52, 0.25);
        border-radius: 3vw;
        transition: transform 0.3s ease-in-out;
    }

    .item-container-mobile:first-child {
        margin-left: 0%; /* Apply margin-left to the first item */
    }
    
    
    .item-group-mobile img {
        width: 100%;
        height: auto;
    }
    
    .description-mobile {
        text-align: center;
        white-space: normal;
        margin-top:-7%;
    }
    
    .carousel-line {
        width: 90%;
        height: 0.2vh;
        margin: 2vh auto;
        background-color: rgb(173, 173, 173);
        margin-top:0%;
        margin-bottom:0%;
        transition: all 0.3s ease-in-out;

    }
    
    .button-carousel-mobile {
        all: unset;
        background-color: #108CEC;
        color: #FFF;
        border: none;
        padding: 2vw 13vw;
        border-radius: 5vw;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 4vw;
        text-decoration: none;
        white-space: nowrap;
        display: block; /* Change to block */
        text-align: center;
        margin-top: 2vh;
        margin: 0 auto;
        width: fit-content; /* Ensure the button only takes up as much width as needed */
    }
    
    .button-carousel-mobile:hover {
        background-color: #0056b3;
    }
    
    .arrows-and-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0vh;
    }
    
    #prev-mobile, #next-mobile {
        background: none;
        border: none;
        cursor: pointer;
        padding: 2vw;
        margin-top: -150%;
        position:absolute;
        z-index: 3;
    }
    
    #prev-mobile {
        margin-left: -85%; /* Adjust as needed to position slightly outside the carousel */
        
    }
    
    #next-mobile {
        margin-right: 4%; /* Adjust as needed to position slightly outside the carousel */
        transform: unset;
    }

    #prev-mobile img, #next-mobile img {
        width: 8vw;
        height: auto;
    }

    .description-title-mobile {
        font-weight: bold;
        font-size: 5vw;
        margin-bottom: 1vh;
    }
    
    .description-subtitle-mobile {
        font-size: 3.5vw;
        color: grey;
        margin-bottom: 2vh;
        margin-top: 0vh;

    }
    
    .opp-place-mobile {
        position:unset;
        margin-top: 1vh;
    }
    
    .opp-place-container {
        display: flex;
        align-items: center;
        margin-bottom: 0.5vh;
    }
    
    .opp-place-container img {
        width: 12vw;
        height: auto;
    }
    
    .opp-place-texts {
        display: unset;
        flex-direction: unset;
        margin-left: 3vw;
        margin-right: 0vw;
    }
    
    .opp-place-title-mobile {
        font-weight: bold;
        font-size: 4vw;
        margin-bottom: 0.5vh;
        margin-top:unset;
    }
    
    .opp-place-subtitle-mobile {
        font-size: 3vw;
        color: grey;
    }

    .description-mobile, .opp-place-mobile {
        white-space: nowrap; /* Prevent text from wrapping */
    }

    .dot-pc{
        display:none;
    }


    .dot-mobile {
        height: 1vw;
        width: 1vw;
        margin: 0 1vw;
        background-color: #FFF;
        border: 0.1vw solid rgba(52, 52, 52, 0.5); /* Added 1 pixel border */
        border-radius: 50%;
        display: inline-block;
    }
    
    .dot-mobile.active {
        background-color: #007bff;
        border-color:#007bff;
    }
    
    .indicators-mobile {
        display: flex;
        justify-content: center;
        flex-grow: 1; /* Allow the dots to take up remaining space */
        margin: 0 auto;
        margin-top: 5vw;
        
    }


























    
.footer {
    display: none;
}


}