html, body, h1, h2, h3, p, ul, ol, li {
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}


.titulo{
    text-align: left;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 2.5em;
    color: #000000;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 0px 2%; /* Add padding to create space between the text and shadow box */
    border-radius: 10px; /* Adjust the border-radius to make the vertices curved */
}


h2{
    font-size: 40px;
    margin-bottom: -20px;
}

body {
    background: linear-gradient(to bottom, #fff5f5, #fff5f5);
    color: #333;
    line-height: 2;
    margin-left: 22%;
    margin-right:5%;
    margin-top: 4%;
}


.image-container {
    
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 999; /* Ensure the image stays above other content */
    text-align: center; /* Center-align the content */
}

.image-container img {
    max-width: 100%;
    border-radius: 100%; /* Make the image round-shaped */
}

.image-label {
    margin-top: 0px;
    font-size: 17px; /* Adjust the font size */
    color: #f2f2f2; /* Change the text color to match the buttons */
}

.name{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 0px;
}



.navbar .top-heading a {
    font-size: 115%;
    display: block;
    padding: 10px 0px;
    color: #f2f2f2;
    text-decoration: none;
    position: relative; /* Add relative positioning to create pseudo-elements */
    transition: background-color 0.3s, transform 0.3s; /* Add transform to the transition */
    margin: 20px;

}

.navbar .top-heading a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -7%;
    width: 125%;
    height: 100%;
    background-color: #4a4aaf; /* Pinkish color */
    border-radius: 200px; /* Adjust the border-radius to smooth out the curves */
    z-index: -1; /* Ensure it's behind the text */
    transition: transform 0.155s; /* Add transition for animation */
    transform: scaleX(0); /* Initially hide the background */
    transform-origin: right; /* Set transform origin to right for animation */
}



.top-heading a img {
        display: inline-block;
        vertical-align: middle;
        width: 1.7em; /* Set the width equal to the font size */
        height: 1.5em; /* Set the height equal to the font size */
        margin-right: 0.5em; /* Adjust spacing between icon and text */
        margin-top: -0.23em; /* Adjust the margin-top to place the icon higher */
}




.navbar:hover{
    box-shadow: 9px 0px 10px rgba(0, 0, 0, 0.2), 9px 0px 10px rgba(194, 215, 223, 0.2); /* Add shadow for depth */}

    .navbar .top-heading a:hover::before {
    transform: scaleX(1); /* Expand the background on hover */
    transform-origin: left; /* Set transform origin to left for animation */
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 18%;
    background-color: #7171db;
    overflow-y: auto;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.nav-menu{
    margin-left: 20%;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    transition: background-color 0.3s;
}

.hamburguer{
    display:none;
    cursor:pointer;
    padding-top: 8px;
}

.bar{
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


.top-heading{
    margin-top: 425px;
    margin-bottom: 50px;
}

.container-wrapper {
    margin-top:7%;
    display: flex;
    flex-wrap: wrap;  
}

.container1:hover,.container2:hover,.container3:hover,.container4:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.about-me:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
  
.container1,.container2,.container3,.container4 {
    flex: 1;
    width: 25%; /* Set the width to 25% to make them equal */
    margin: 15px; /* Add margin to create space between containers */
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.container {
    background-color: white;
    flex: 1;
    padding: 20px;
    margin: 15px; /* Add margin to create space between containers */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    text-align: center;
    border-radius: 7px; /* Add border-radius to containers */
}
  


.about-me {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width:100%;
    order: -1;
    background-color: #4a4aaf;
    padding: 200px;
    padding-top: 2%;
    padding-bottom: 5%;
    color: #fff;  
    border-radius: 5px;
    text-align: center;
    margin-top: -20px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}


/*
the headshots and categories of the different edits
*/

.image-editing-expertise {
    background-color: #f7f7f7;
    padding: 40px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .category-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .category {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .category:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .category img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .category-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .category-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .category-link {
    font-size: 14px;
    color: #337ab7;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .category-link:hover {
    color: #23527c;
  }


@media(max-width: 768px){




    body {
        background: linear-gradient(to bottom, #fff5f5, #fff5f5);
        color: #333;
        line-height: 2;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0%;
    }

    .image-container {
        position: relative;
        margin-top: 5%;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        z-index: 1;
    }
    .image-container img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .navbar{
        background-color: #4a4aaf;
        position: fixed; /* Add this to fix logo overlapping issue */
        left: 0;
        top: 0;
        height: 70px; /* Adjust height as needed */
        width: 100%;
        padding-top: 20px; /* Adjust padding-top as needed */
        transition: none; 
        margin-top: 0%;
        margin-bottom: 100%;
    }

    .nav-menu{
        position: fixed;
        padding-top: 5px;
        padding-bottom: 10px;
        left: 0;
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: #7171db;
        width: 100%;
        text-align: center;
        transition: opacity 0.3s, transform 0.3s ease-in-out;
        opacity: 0;
        transform: translateY(-10px);
        overflow-y: auto;
        touch-action: auto;
        max-height: calc(100vh - 70px); /* Add this property ISTO É O SCROLL NAO APAGAR*/
        margin-left: 0%;
    }

    

    .navbar:hover {
        width: 100%; 
        box-shadow: 9px 0px 10px rgba(0, 0, 0, 0.2), 9px 0px 10px rgba(194, 215, 223, 0.2); /* Add shadow for depth */
        transition: none; /* Remove transition */
    }

    .navbar .top-heading a::before {
        margin-left: 0;
        transition: 0.1s;
        width: 100%;
    }
    
    .hamburguer{
        margin-top: 0%;
        display:block;
    }
    
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .top-heading{
        margin: 1px 0;
        margin-top: 5%;
    }


    .nav-menu.active{
        top: 70px; /* Move the nav menu down */
        opacity: 1; /* Show the nav menu */
        transform: translateY(0); /* Reset the transform */
    }



    .navbar .top-heading a {
        font-weight: bold;
        font-size: 18px;
        display: block;
        padding: 10px 20px;
        color: #f2f2f2;
        text-decoration: none;
        position: relative; /* Add relative positioning to create pseudo-elements */
        transition: background-color 0.3s, transform 0.3s; /* Add transform to the transition */
    }
    
    .navbar .top-heading a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4a4aaf; /* Pinkish color */
        border-radius: 200px; /* Adjust the border-radius to smooth out the curves */
        z-index: -1; /* Ensure it's behind the text */
        transition: transform 0.1s; /* Add transition for animation */
        transform: scaleX(0); /* Initially hide the background */
        transform-origin: right; /* Set transform origin to right for animation */
    }
    
    .navbar .top-heading a:hover::before {
        transform: scaleX(1); /* Expand the background on hover */
        transform-origin: left; /* Set transform origin to left for animation */
    }

    .container{
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        margin-left: 0%;

    }

    .container1, .container3{
        margin-right: 3%;
        margin-left: 2%;
    }

    .container2, .container4{
        margin-right: 3%;
    }

      
      .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        clear: both;
        margin-bottom: 0px;
      }


        .about-me {
            flex-basis: auto;/* Added margin to create space between containers */
            margin-top: 0;
            padding-top: 0;
            padding: 4%;
            margin-right: 3%;
            margin-left: 2%;
          }

        .ultimate{
            margin-top:0%;
            font-size: 120%;

        }
      
      .titulo {
        position: relative; 
        z-index: -1;
        text-align: center;
        margin-top: 18vh;
        margin-bottom: -3%;
        margin-left: 2.1%;
        margin-right: 3.2%;
        font-size: 180%;
      }
      
      .container4 {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .palavras{
            margin: 0;
            margin-top: 10px;
            line-height: 1.4;
            font-size: 35px;
      }

      .tituloh2{
        font-size: 120%;
      }
}